h1 {
  color: blueviolet;
}

ul#lista {
  list-style: disc inside;
  padding-left: 5px;
}

ul#lista li {
  margin: 5px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

ul#lista button {
  background: red;
  border: none;
  color: white;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 4px;
}
